.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

svg {
  height: 80vw;
  width: 80vw;
  max-width: 700pt;
  max-height: 450pt;
}

g {
  width:200px;
  height:200px;
  background-color: blue;
}
