<table>
  <tr>
    <td id="quick-info">
      <div class="quick-view">
        <app-character-icon ></app-character-icon>
        <div>
          <div class="separator"><hr></div>
          <div class="name-block">
            <span>{{first_name}}</span>
          <span>{{last_name}}</span>
          </div>

        </div>
      </div>
    </td>

    <!--<td id="full-info">
      <div class="quick-bio" >
        <p>Name: Daenerys Targaryen</p>
        <p>Age: 18</p>
        <p>Location: Who the fuck knows anymore</p>
        <p>Allegiance: Her damn self</p>
      </div>
    </td>-->
  </tr>
</table>



